<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/appicon.svg" alt="Ionic logo">
  </div>

  <div class="login-form">
    <form #loginForm="ngForm" novalidate>
      <ion-input
        label="email"
        labelPlacement="stacked"
        fill="solid"
        [(ngModel)]="login.email"
        name="email"
        type="text"
        #username="ngModel"
        spellcheck="false"
        autocapitalize="off"
        errorText="Email is required"
        [disabled]="loading"
        required>
      </ion-input>

      <ion-input
        label="Password"
        labelPlacement="stacked"
        fill="solid"
        [(ngModel)]="login.password"
        name="password"
        type="password"
        #password="ngModel"
        [disabled]="loading"
        errorText="Password is required"
        required>
      </ion-input>

      <ion-row>
        <ion-col>
          <ion-button (click)="onLogin(loginForm)" type="submit" expand="block" [disabled]="loading">
            <span *ngIf="!loading">Login</span>
          <span *ngIf="loading">Logging in...</span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>
