ion-fab-button {
  --background: var(--ion-color-step-150, #ffffff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);
  --color: var(--ion-color-primary, #3880ff);
}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    padding-left: 10px;

    border-left: 2px solid $value;
  }
}


.pending{
  background: #fed035;
  border-radius: 12px;
}

.paid{
  background: #69bb7b;
  border-radius: 12px;
}

.delivered{
  background: #69bb7b;
  border-radius: 12px;
}

.w-50{
  width: 50%;
}

.selected_month{
  --background: #fd8b2d;
}

.selected_month_delivered{
  --background: #ffffff;

    *{
      color: #000000;
      --color: #000000;
    }
}

.center_align{
  display: flex;
  align-items: center;
}

.left_margin{
  margin-left: 10px;
}

.content-wrapper{
  // background: linear-gradient(to bottom right,#0894FF 0%,#C959DD 34%,#FF2E54 68%,#FF9004);
  position: relative;
  padding: 10px;
  margin-bottom: 25px;
  
  .glow{
    position: absolute;
    z-index: 0;
    inset: 0;
    border: 0;
    filter: blur(1px);

    &:after{
      --bg-size: calc(100% + 14px);
      --gradient: linear-gradient(to bottom right, #0894FF 0%, #C959DD 34%, #FF2E54 68%, #FF9004);
      content: "";
      pointer-events: none;
      position: absolute;
      inset: 0;
      background: var(--gradient) 50% / var(--bg-size) var(--bg-size);
      border-radius: 28px;
      border: 3px solid rgba(0, 0, 0, 0);
      mask: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)), linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
      mask-clip: padding-box, border-box;
      mask-composite: intersect;
    }
    

    &.glow2{
      filter: blur(7px);
      
      &:after{
        border: 8px solid rgba(0, 0, 0, 0);
      }
    }
  }

  .content{
    margin: 10px;
    background: #1d1d1f;
  }

}